;; shadow-cljs configuration for NRPK-22
{:open-file-command ["idea" :pwd "--line" :line :file]
 :deps              {:aliases [:shadow-cljs]}
 :nrepl             {:port 9000}
 :cache-blockers    #{lambdaisland.ornament}
 ;:dependencies      [[day8/shadow-git-inject "0.0.5"]]
 :dev-http          {8010 "public/booking"
                     8020 "public/eykt"
                     3001 ["public/devcards" "public"]}
 :builds            {:devcards
                     {:target           :browser            ; using :browser-test to pickup all files that match `-test$`
                      ;:ns-regexp        "-cards$" ; default option for :browser-test is -test$
                      :output-dir       "public/devcards/js"
                      ;:runner-ns        example.devcards ; must have init fn to run
                      :modules          {:main {:init-fn example.devcards/init!}}
                      :after-load       example.devcards/reload!
                      :compiler-options {:devcards           true
                                         :output-feature-set :es8}
                      :js-options       {:resolve
                                         {"devcards-marked"
                                          {:target :npm :require "marked"}
                                          "devcards-syntax-highlighter"
                                          {:target :npm :require "highlight.js"}}}}
                     :logg    {:target :browser}
                     :eykt    {:target            :browser
                               :output-dir        "public/eykt/js"
                               :asset-path        "/js"
                               :after-load        eykt.core/reload!
                               :modules           {:main {:init-fn eykt.core/init!}}
                               :module-hash-names 4
                               :release           {:output-dir       "dist/eykt/js"
                                                   :compiler-options {:closure-defines {goog.DEBUG false}
                                                                      :infer-externs   :auto
                                                                      :optimizations   :advanced}}

                               :dev               {:compiler-options {:closure-defines {goog.DEBUG true}
                                                                      :infer-externs   :auto
                                                                      :optimizations   :none}}}

                     :booking {:build-hooks       [(shadow-git-inject.core/hook)
                                                   (my.hooks/write-styles-hook)]
                               :git-inject        {:ignore-dirty?   false
                                                   :version-pattern "^v(.*)$"}
                               :target            :browser
                               :output-dir        "public/booking/js"
                               :asset-path        "/js"
                               :after-load        booking.core/reload!
                               :modules           {:main {:init-fn booking.core/init!}}
                               :module-hash-names 4
                               :release           {:output-dir       "dist/booking/js"
                                                   :compiler-options {:closure-defines {goog.DEBUG           false
                                                                                        booking.data/VERSION :shadow-git-inject/version
                                                                                        booking.data/DATE    :shadow-git-inject/build-iso-date-time}
                                                                      :infer-externs   :auto
                                                                      :optimizations   :advanced}}

                               :dev               {:compiler-options {:closure-defines {goog.DEBUG           true
                                                                                        booking.data/VERSION "0.0.1"
                                                                                        booking.data/DATE    "2022-04-17T19:41"}
                                                                      :infer-externs   :auto
                                                                      :optimizations   :none}}}}}
