;; shadow-cljs configuration for NRPK-22
{:open-file-command ["idea" :pwd "--line" :line :file]
 :deps              {:aliases [:shadow-cljs]}
 :nrepl             {:port 9000}
 :dev-http          {8010 "public/eykt"}
 :builds            {:logg    {:target :browser}
                     :booking {:target :browser}
                     :eykt    {:target            :browser
                               :output-dir        "public/eykt/js"
                               :asset-path        "/js"
                               :after-load        eykt.core/reload!
                               :modules           {:main {:init-fn eykt.core/init!}}
                               :module-hash-names 4
                               :release           {:output-dir       "dist/eykt/js"
                                                   :compiler-options {:closure-defines {goog.DEBUG false}
                                                                      :infer-externs   :auto
                                                                      :optimizations   :advanced}}

                               :dev               {:compiler-options {:closure-defines {goog.DEBUG true}
                                                                      :infer-externs   :auto
                                                                      :optimizations   :none}}}}}



  
