@media print {
   .noprint {
      visibility: hidden;
   }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    -webit-text-size-adjust: none;
    touch-action: pan-y;
    height: 100%;
}

@media (max-width: 511px) {
    html {
        transition-duration: 0;
        font-size: small;
        }
}

:where(html) {
    --background-image-light: url('/img/bg/bg-light-1.jpg');
    --background-image-dark: url('/img/bg/bg-dark-1.jpg');
    --animation-spin:  spin-sun 7s ease-in-out infinite;
}
@keyframes spin-sun {
  to { transform: rotate(0.3turn) scale(.9,.9); }
}                     

@keyframes spin3 {
  from { transform: rotate(0);
  }
  80% { transform: rotate(50deg);
  }
  to { transform: rotate(0);
  }
}

.-debug {
outline: 2px solid #a008;
}
.-debug2 {
outline: 2px solid #00a8;
}

.-debug3 {
outline: 2px solid #0aa8;
}
.-debug4 {
outline: 2px solid #a0a8;
}

@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Lora', serif;
}


@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
@keyframes "blink" {
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  font-weight: 500;
  font-size: unset;
/*
  -webkit-animation: 1.4s blinking step-end infinite;
  -moz-animation: 1.4s blinking step-end infinite;
  -ms-animation: 1.4s blinking step-end infinite;
  -o-animation: 1.4s blinking step-end infinite;
*/
  animation: blink .8s step-start infinite;
}


:root {
    --radius-0: 3px;
    --radius-1: 6px;
    --radius-2: 8px;
    --radius-3: 14px;

    --font-letterspacing-0: -0.02em;

    --tw-ring-inset: 2;
    --tw-ring-offset-width: 2;
    --tw-ring-color: green;











/*

--gray-0: #fafaf9;
--gray-1: #f5f5f4;
--gray-2: #e7e5e4;
--gray-3: #d6d3d1;
--gray-4: #a8a29e;
--gray-5: #78716c;
--gray-6: #57534e;
--gray-7: #44403c;
--gray-8: #292524;
--gray-9: #1c1917;
*/


    --gray-00: #F9FAFA;
    --gray-0: #F0F1F1;
    --gray-1: #E5E6E6;
    --gray-2: #CDD0D0;
    --gray-3: #B5BABA;
    --gray-4: #9DA4A4;
    --gray-5: #858E8E;
    --gray-6: #6C7374;
    --gray-7: #54595A;
    --gray-8: #3B3E3F;
    --gray-9: #222425;
    --gray-10: #1a1c1d;

/*
    --light-hue: 170;
    --light-sat: 70%;
    --light-bri: 40%;
    --light-content: hsl(var(--light-hue),var(--light-sat),var(--light-bri));
    --light-content-transp-top: var(--light-content);
    --light-content-transp-bottom: hsla(var(--light-hue),var(--light-sat),var(--light-bri),0.7);
    --light-content-transp: hsla(var(--light-hue),var(--light-sat),var(--light-bri),0);
*/
    --light-toolbar: var(--gray-2);
    --light-toolbar-: var(--gray-3);
    --light-content: var(--gray-1);
    --light-content-transp-top: rgba(229, 230, 230,0.9);
    --light-content-transp-bottom: rgba(229, 230, 230,0.7);
    --light-content-transp: rgba(229, 230, 230,0);
    --light-floating: var(--gray-00);

    --dim-toolbar: var(--gray-9);
    --dim-toolbar-: var(--gray-10);
    --dim-content: var(--gray-8);
    --dim-content-transp-top: rgba(59, 62, 63, 0.9);
    --dim-content-transp-bottom: rgba(59, 62, 63, 0.7);
    --dim-content-transp: rgba(59, 62, 63, 0);

    --dim-floating: var(--gray-7);

    --weak-factor: 0.7;
    --brand-hue: 146;
    --dim-brand-hue: 92;
    --switch-hue: calc(var(--brand-hue) - 0);
    --dim-switch-hue: calc(var(--dim-brand-hue) - 0);

    --light-switchon: hsl(var(--switch-hue), 36%, 26%);
    --light-switchoff: hsl(var(--switch-hue), 40%, 10%);
    --dim-switchon: hsl(var(--dim-switch-hue), 50%, 40%);
    --dim-switchoff: hsl(var(--dim-switch-hue), 36%, 5%);

    --dim-brand1: hsl(calc(var(--dim-brand-hue) - 0), 36%, 58%);
    --dim-brand1-weak: hsla(calc(var(--dim-brand-hue) - 0), 36%, 58%, var(--weak-factor));
    --dim-brand2: hsl(calc(var(--dim-brand-hue) + 90), 36%, 68%);
    --dim-brand2-weak: hsla(calc(var(--dim-brand-hue) + 90), 36%, 48%, var(--weak-factor));
/*
    --dim-brand3: hsl(calc(var(--brand-hue) - 60), 40%, 60%);
    --dim-brand4: hsl(calc(var(--brand-hue) - 180), 40%, 60%);
    --dim-brand5: hsl(calc(var(--brand-hue) + 270), 40%, 60%);
*/

    --dim-brand1-bright: hsl(var(--brand-hue), 50%, 70%);
    --dim-brand1-copy: hsl(var(--brand-hue), 20%, 10%);

    --light-brand1:  hsl(var(--brand-hue), 36%, 26%); /* #135C3D; */
    --light-brand2: hsl(calc(var(--brand-hue) - 60), 40%, 30%);
    --light-brand1-weak:  hsla(var(--brand-hue), 55%, 40%, var(--weak-factor)); /* #135C3D; */
    --light-brand2-weak: hsla(calc(var(--brand-hue) - 60), 40%, 30%,var(--weak-factor));
    --light-brand1-bright: hsl(var(--brand-hue), 50%, 50%);
    --light-brand2-bright: hsl(calc(var(--brand-hue) - 120), 50%, 60%);
    --light-brand1-copy: hsl(var(--brand-hue), 50%, 90%);
    /*--brand1-copy-light: white;*/

    --light-button: var(--gray-3);
    --light-button-bright: var(--gray-2);
    --light-buttoncopy: var(--gray-7);

    --dim-button: var(--gray-6);
    --dim-button-bright: var(--gray-7);
    --dim-buttoncopy: var(--gray-3);

    --light-danger: var(--red-6);
    --light-danger-bright: var(--red-5);
    --light-dangercopy: var(--red-1);

    --dim-danger: var(--red-7);
    --dim-danger-bright: var(--red-6);
    --dim-dangercopy: white;

    --light-field: var(--gray-00);
    --light-field-focus: var(--gray-00);
    --light-fieldcopy: var(--gray-7);
    --dim-field: var(--gray-7);
    --dim-field-focus: var(--gray-9);
    --dim-fieldcopy: var(--gray-1);

    /* body copy */

    --text0-light: var(--gray-9);
    --text0-copy-light: var(--gray-0);
    --text1-light: var(--gray-8);
    --text1-copy-light: var(--gray-1);
    --text2-light: var(--gray-7);
    --text3-light: var(--gray-4);
    --label-light: var(--gray-5);

    --textmarker-light:var(--gray-9);
    --textmarker-dim:var(--gray-9);
    --text0-dim: var(--gray-1);
    --text0-copy-dim: var(--gray-9);
    --text1-dim: var(--gray-2);
    --text1-copy-dim: var(--gray-8);
    --text2-dim: var(--gray-4);
    --text3-dim: var(--gray-8);
    --label-dim: var(--green-5);

    --textmarker-background-light: var(--yellow-2);
    --textmarker-background-dim: var(--yellow-5);

    --light-selected: var(--yellow-5);
    --light-selected-copy: var(--gray-9);
    --dim-selected: var(--gray-9);
    --dim-selected-copy: var(--gray-0);

    --dim-vener-hl: rgba(255,255,255,0.3);
    --light-vener-hl: rgba(255,255,255,0.2);

    --dim-vener: rgba(255,255,255,0.05);
    --light-vener: rgba(0,0,0,0.06);

    --text-light: var(--gray-6);
    --text-dim: var(--gray-4);
}


/*@media (prefers-color-scheme: light) {*/
:root {
    --brand1: var(--brand1-light);
    --brand1-copy: var(--brand1-copy-light);
    --brand1-hover: var(--brand1-hover-light);

    --textmarker: var(--textmarker-light);
    --textmarker-background: var(--textmarker-background-light);
    --text0-copy: var(--text0-copy-light);
    --text0: var(--text0-light);
    --text1: var(--text1-light);
    --text1-copy: var(--text1-copy-light);
    --text2: var(--text2-light);
    --text3: var(--text3-light);

    --field1: white; /*var(--gray-0); /* surface000-light  focused field */
    --field2: var(--gray-0); /* surface00-light unfocused/passive field */

       --brand000: var(--brand000-light);
       --brand00: var(--brand00-light);
       --brand0: var(--brand0-light);
       --brand1o: var(--brand1o-light);
       --brand1: var(--brand1-light);
       --brand2: var(--brand2-light);


       --label: var(--label-light);
       --surface000: var(--surface000-light);
       --surface00: var(--surface00-light);
       --surface0: var(--surface0-light);
       --surface1: var(--surface1-light);
       --surface2: var(--surface2-light);
       --surface3: var(--surface3-light);
       --surface4: var(--surface4-light);
       --surface5: var(--surface5-light);
       --surface6: var(--surface6-light);
       --surface7: var(--surface7-light);
       --surface8: var(--surface8-light);
       --surface9: var(--surface9-light);

       --buttoncta0: var(--brand0-light);
       --buttoncta1: var(--brand1-light);
       --buttoncta2: var(--brand2-light);
       --buttondanger0: var(--buttondanger0-light);
       --buttondanger1: var(--buttondanger1-light);
       --buttondanger2: var(--buttondanger2-light);

       --buttonbase-disabled: var(--buttonbase-disabled-light);
       --buttonbase: var(--buttonbase-light);
       --buttontext: var(--buttontext-light);
       --buttonbase-hover: var(--buttonbase-hover-light);
       --buttonbase-active: var(--buttonbase-active-light);

    /* buttons */
    --buttonbase: var(--gray-3);
    --buttonbase-hover: var(--gray-4);
    --buttonbase-active: var(--gray-3);
    --buttontext: var(--gray-7);

/*
       --forsiden: var(--green-5);
       --new-booking: var(--yellow-6);
       --hva-er-nytt: var(--pink-6);
       --booking-oversikt: var(--teal-8);
       --logg-ut: var(--red-5);
*/

    --toolbar: var(--light-toolbar);
    --toolbar-: var(--light-toolbar-);

    --content: var(--light-content);
    --content-transp-top: var(--light-content-transp-top);
    --content-transp-bottom: var(--light-content-transp-bottom);
    --content-transp: var(--light-content-transp);

    --floating: var(--light-floating);
    --switchon: var(--light-switchon);
    --switchoff: var(--light-switchoff);
    --brand1: var(--light-brand1);
    --brand1-weak: var(--light-brand1-weak);
    --brand1-bright: var(--light-brand1-bright);
    --brand1-copy: var(--light-brand1-copy);
    --brand2: var(--light-brand2);
    --brand2-weak: var(--light-brand2-weak);
    --brand2-bright: var(--light-brand2-bright);
    --button: var(--light-button);
    --button-bright: var(--light-button-bright);
    --buttoncopy: var(--light-buttoncopy);
    --danger: var(--light-danger);
    --danger-bright: var(--light-danger-bright);
    --dangercopy: var(--light-dangercopy);
    --field: var(--light-field);
    --field-focus: var(--light-field-focus);
    --fieldcopy: var(--light-fieldcopy);
    --selected: var(--light-selected);
    --selected-copy: var(--light-selected-copy);
    --vener: var(--light-vener);
    --vener-hl: var(--light-vener-hl);
    --text: var(--text-light);

}


.dark {
    --brand1: var(--brand1-dim);

    --selected: var(--dim-selected);
    --selected-copy: var(--dim-selected-copy);


    --textmarker-background: var(--textmarker-background-dim);
    --textmarker:var(--textmarker-dim);
    --text0-copy: var(--text0-copy-dim);
    --text0: var(--text0-dim);
    --text1: var(--text1-dim);
    --text1-copy: var(--text1-copy-dim);
    --text2: var(--text2-dim);
    --text3: var(--text3-dim);

    --field1: var(--gray-4); /* focused field */
    --field2: var(--gray-7); /* unfocused/passive field */


   --brand000: var(--brand000-dim);
   --brand00: var(--brand00-dim);
   --brand0: var(--brand0-dim);

      --label: var(--label-dim);

    /* buttons */
    --buttonbase: var(--gray-6);
    --buttonbase-hover: var(--gray-5);
    --buttonbase-active: var(--gray-4);
    --buttontext: var(--gray-3);


      --buttoncta0: var(--buttoncta0-dim);
      --buttoncta1: var(--buttoncta1-dim);
      --buttoncta2: var(--buttoncta2-dim);
      --buttondanger0: var(--buttondanger0-dim);
      --buttondanger1: var(--buttondanger1-dim);
      --buttondanger2: var(--buttondanger2-dim);
      --button0: var(--button0-dim);
      --button1: var(--button1-dim);
      --button2: var(--button2-dim);


        --toolbar: var(--dim-toolbar);
        --toolbar-: var(--dim-toolbar-);
        --content: var(--dim-content);
        --content-transp-top: var(--dim-content-transp-top);
        --content-transp-bottom: var(--dim-content-transp-bottom);
        --content-transp: var(--dim-content-transp);
        --floating: var(--dim-floating);
        --switchon: var(--dim-switchon);
        --switchoff: var(--dim-switchoff);
        --brand1: var(--dim-brand1);
        /*--brand1: #A7473D;*/
        /*--brand1-copy: #EFDEDC;*/
        --brand1-bright: var(--dim-brand1-bright);
        --brand1-copy: var(--dim-brand1-copy);
        --brand2: var(--dim-brand2);
        --brand2-weak: var(--dim-brand2-weak);
        --button: var(--dim-button);
        --button-bright: var(--dim-button-bright);
        --buttoncopy: var(--dim-buttoncopy);
        --danger: var(--dim-danger);
        --danger-bright: var(--dim-danger-bright);
        --dangercopy: var(--dim-dangercopy);
        --field: var(--dim-field);
        --field-focus: var(--dim-field-focus);
        --fieldcopy: var(--dim-fieldcopy);

    --vener: var(--dim-vener);
    --vener-hl: var(--dim-vener-hl);
    --text: var(--text-dim);
}


.bg-unfocused-field {
    background: var(--field);
    color: var(--text2);
}

.bg-focused-field {
    background: var(--brand1);
    color: var(--brand1-copy);
}

.outline-focused-field:focus {
    outline: var(--brand1) 2px solid;
}
