.x-debug {
outline: 2px solid #a008;
}
.x-debug2 {
outline: 2px solid #00a8;
}

.x-debug3 {
outline: 2px solid #0aa8;
}

@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Lora', serif;
}

.blinking-cursor {
  font-weight: 500;
  font-size: unset;
  
  color: var(--surface4);
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  20% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}



:root {
    --radius-0: 3px;
    --radius-1: 6px;
    --radius-2: 8px;
    --radius-3: 14px;

    --font-letterspacing-0: -0.02em;
    
/* greenish
 --gray-0: #F5FEFE;
 --gray-1: #D7FCFA;
 --gray-2: #9AF6EC;
 --gray-3: #5DF1D6;
 --gray-4: #20ECB7;
 --gray-5: #10B981;
 --gray-6: #0C8F5A;
 --gray-7: #096538;
 --gray-8: #053A1D;
 --gray-9: #011007;



 --gray-0: #F0F1F1;
  --gray-1: #E5E6E6;
  --gray-2: #CDD0D0;
  --gray-3: #B5BABA;
  --gray-4: #9DA4A4;
  --gray-5: #858E8E;
  --gray-6: #6C7374;
  --gray-7: #54595A;
  --gray-8: #3B3E3F;
  --gray-9: #222425;
  --gray-9: #1c1917;

*/

    --gray-0: #fafaf9;
    --gray-1: #f5f5f4;
    --gray-2: #e7e5e4;
    --gray-3: #d6d3d1;
    --gray-4: #a8a29e;
    --gray-5: #78716c;
    --gray-6: #57534e;
    --gray-7: #44403c;
    --gray-8: #292524;






    --tw-ring-inset: 2;
    --tw-ring-offset-width: 2;
    --tw-ring-color: green;

   --brand000-dim: var(--green-9);
   --brand00-dim: var(--green-8);
   --brand0-dim: var(--green-7);
   --brand1-dim: var(--green-4);
   --brand2-dim: var(--green-1);



   --text1-dim: var(--gray-3);
   --text2-dim: var(--gray-3);
   --text3-dim: var(--gray-4);
   --label-dim: var(--green-5);

   --surface000-dim: var(--gray-9);
   --surface00-dim: black; /*var(--gray-9);*/
   --surface0-dim: var(--gray-9); /* var(--gray-7); */
   --surface1-dim: var(--gray-5); /* surface-background of entities and elements */
   --surface2-dim: var(--gray-6); /* content-background of slidein menu, can contain entities and elements */
   --surface3-dim: var(--gray-3); /* surface-background of slidein menu, contains the content above */
   --surface4-dim: var(--gray-4);
   --surface5-dim: var(--gray-3);

   --buttoncta0-dim: var(--green-3);
   --buttoncta1-dim: var(--green-7);
   --buttoncta2-dim: var(--green-8);
   --buttondanger0-dim: var(--red-3);
   --buttondanger1-dim: var(--red-7);
   --buttondanger2-dim: var(--red-8);
   --button0-dim: var(--gray-1);
   --button1-dim: var(--gray-8);
   --button2-dim: var(--gray-9);

   --brand-hue: 180;
   --brand000-light: var(--green-1);
   --brand00-light: var(--green-2);
   --brand0-light: hsl(var(--brand-hue), 39%, 90% ); /* var(--green-3); */
   --brand1o-light: hsla(var(--brand-hue), 39%, 50%,0.05);
   --brand1-light: #68A73D; //hsl(var(--brand-hue), 39%, 40%);
   --brand2-light: hsl(var(--brand-hue), 39%, 30%);

   --brand1-dim: hsl(100, 39%, 50%);
   --buttoncta0-dim: hsl(100, 39%, 5%);
   --buttoncta1-dim: hsl(100, 39%, 50%);

   --text1-light: var(--gray-8);
   --text2-light: var(--gray-7);
   --text3-light: var(--gray-6);
   --label-light: var(--gray-5);

    --link-1: var(--blue-9);

   --surface000-light: var(--gray-0);
   --surface00-light: var(--gray-1);
   --surface0-light: var(--gray-2);
   --surface1-light: var(--gray-3); /* surface-background of entities and elements */
   --surface2-light: var(--gray-4); /* content-background of slidein menu, a platform for content (on top of system-background) */
   --surface3-light: var(--gray-5); /* surface-background of slidein menu, toolbar, system-background etc */
   --surface4-light: var(--gray-6);
   --surface5-light: var(--gray-9);
   --surface6-light: var(--gray-6);
   --surface7-light: var(--gray-7);
   --surface8-light: var(--gray-8);
   --surface9-light: var(--gray-9);

   --buttoncta0-light: white;
   --buttoncta1-light: var(--green-8);
   --buttoncta2-light: var(--green-7);
   --buttondanger0-light: var(--red-1);
   --buttondanger1-light: var(--red-6);
   --buttondanger2-light: var(--red-5);

   /* These should have a different tone of gray, perhaps a warm in contrast to a neutral gray (for the surfaces above) */
   --button00-light: var(--gray-0);
   --button0-light: var(--gray-9);
   --button1-light: var(--gray-4);
   --button2-light: var(--gray-3);

   --buttonbase-disabled-light: var(--gray-1);
   --buttonbase-light: var(--gray-3);
   --buttontext-light: var(--gray-7);
   --buttonbase-hover-light: var(--gray-2);
   --buttonbase-active-light: var(--gray-5);

}

@media (prefers-color-scheme: light) {
    :root {
       --brand000: var(--brand000-light);
       --brand00: var(--brand00-light);
       --brand0: var(--brand0-light);
       --brand1o: var(--brand1o-light);
       --brand1: var(--brand1-light);
       --brand2: var(--brand2-light);

       --text1: var(--text1-light);
       --text2: var(--text2-light);
       --text3: var(--text3-light);

       --label: var(--label-light);
       --surface000: var(--surface000-light);
       --surface00: var(--surface00-light);
       --surface0: var(--surface0-light);
       --surface1: var(--surface1-light);
       --surface2: var(--surface2-light);
       --surface3: var(--surface3-light);
       --surface4: var(--surface4-light);
       --surface5: var(--surface5-light);
       --surface6: var(--surface6-light);
       --surface7: var(--surface7-light);
       --surface8: var(--surface8-light);
       --surface9: var(--surface9-light);
       
       --buttoncta0: var(--brand0-light);
       --buttoncta1: var(--brand1-light);
       --buttoncta2: var(--brand2-light);
       --buttondanger0: var(--buttondanger0-light);
       --buttondanger1: var(--buttondanger1-light);
       --buttondanger2: var(--buttondanger2-light);

       --buttonbase-disabled: var(--buttonbase-disabled-light);
       --buttonbase: var(--buttonbase-light);
       --buttontext: var(--buttontext-light);
       --buttonbase-hover: var(--buttonbase-hover-light);
       --buttonbase-active: var(--buttonbase-active-light);



       --forsiden: var(--green-5);
       --new-booking: var(--yellow-6);
       --hva-er-nytt: var(--pink-6);
       --booking-oversikt: var(--teal-8);
       --logg-ut: var(--red-5);
    }
}

@media (prefers-color-scheme: dark) {
    :root {

    --font-weight-1: var(--font-weight-3);
    --font-weight-2: var(--font-weight-4);
    --font-weight-3: var(--font-weight-5);

   --brand000: var(--brand000-dim);
   --brand00: var(--brand00-dim);
   --brand0: var(--brand0-dim);
   --brand1: var(--brand1-dim);
   --brand2: var(--brand2-dim);

      --text1: var(--text1-dim);
      --text2: var(--text2-dim);
      --text3: var(--text3-dim);
      --label: var(--label-dim);

      --surface000: var(--surface000-dim);
      --surface00: var(--surface00-dim);
      --surface0: var(--surface0-dim);
      --surface1: var(--surface1-dim);
      --surface2: var(--surface2-dim);
      --surface3: var(--surface3-dim);
      --surface4: var(--surface4-dim);
      --surface5: var(--surface5-dim);

      --buttoncta0: var(--buttoncta0-dim);
      --buttoncta1: var(--buttoncta1-dim);
      --buttoncta2: var(--buttoncta2-dim);
      --buttondanger0: var(--buttondanger0-dim);
      --buttondanger1: var(--buttondanger1-dim);
      --buttondanger2: var(--buttondanger2-dim);
      --button0: var(--button0-dim);
      --button1: var(--button1-dim);
      --button2: var(--button2-dim);
  }
}

/*
button[type="submit"] {
    color: var(--buttoncta0);
    background: var(--buttoncta2);
}
button[type="submit"]:hover {
    background: var(--buttoncta1);
}

button[type="button"]:hover {
    background: var(--buttonbase-hover);
}

button[type="button"] {
background: unset;
}


*/

.bg-unfocused-field {
    background: var(--surface0);
}

.outline-focused-field:focus {
    outline: var(--brand1) 2px solid;
}