@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
      font-family: 'Lora';

    }

    @font-face {
        font-family: 'Inter', sans-serif;
        font-feature-settings: "salt", "calt";
    }

    a {
        @apply underline cursor-pointer;
    }
    .btn {
        @apply px-4 py-2 active:shadow disabled:cursor-default cursor-pointer truncate;
        min-width: 6rem;
    }

        .btn-narrow {
            @apply px-2 py-2 active:shadow disabled:cursor-default cursor-pointer truncate;

        }

    .btn-free {
        @apply bg-white disabled:text-gray-300 active:bg-gray-200 rounded
    }

    .btn-danger {
        @apply bg-white dark:bg-black disabled:text-gray-300 active:bg-red-500 active:text-white rounded border-2 border-red-500 text-black dark:text-white
    }

    .btn-cta {
        @apply disabled:text-black/25 bg-white dark:bg-black dark:text-white text-black border-alt border-2
    }

    label {
        @apply text-sm mb-1 text-gray-500 dark:text-white/50 uppercase;
    }

    h2 {
        @apply text-lg font-light text-black/50 dark:text-white/50
    }

}

@layer utilities {
    .field-w-max {
        max-width: 15rem;
    }
    .debug {
        outline: #f448 solid 2px;
    }

}