<!DOCTYPE html>
<html lang="no">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Interx:wght@100;400;900&family=Oswald:wght@100;900&family=Dosis:wght@200;700&family=Redacted+Script:wght@300;400;700&family=Lora:wght@400;700&family=Comforter+Brush&family=Playfair+Display:wght@800&family=IBM+Plex+Mono:wght@400&display=swap"
          rel="stylesheet">
    <link href="/css/{css-source}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{title}</title>
    <script>
    </script>
</head>
<body>
  <div id="app"></div>
  <script src="js/{js-source}"></script>
</body>
</html>
